html, body {
  height: 100%;
  min-width: 100vw;
}
.example-container {
  min-width: 100%;
}

.example-sidenav-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 15px;
}

.menu-btn {
  position: absolute;
  top: 16px;
  left: 16px;
}

#drawer-content {
  position: absolute;
  z-index: 3000;
  background-color: red;
}
