<div class="menu-content">
  <h3>Graph Information</h3>
  <hr />
  <b>
    <p>Nodes: {{ graphInfo.nodes }}</p>
    <p>Edges: {{ graphInfo.links }}</p>
    <p>Total Length: {{ 200 }}</p>
  </b>

  <h3>Graph Drawing</h3>
  <hr />
  <nz-upload [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload">
    <button 
      nz-button
      [disabled]="fileList.length === 1">
      <nz-icon nzType="upload" />
      Select File
    </button>
  </nz-upload>
  <br />
  <br />
  <button
    nz-button
    nzType="primary"
    [nzLoading]="uploading"
    (click)="handleUpload()"
    [disabled]="fileList.length === 0"
  >
    {{ uploading ? 'Uploading' : 'Start Upload' }}
  </button>

  <h3>Graph Display</h3>
  <hr />

  <div class="columns-pair">
    <a><b>Zoom: </b></a>
    <nz-input-number
      [nzMin]="0.5"
      [nzMax]="5"
      [nzStep]="0.2"
      [(ngModel)]="zoom">
    </nz-input-number>
  </div>
  
  <div class="columns-pair">
    <a><b>Node Width:</b></a>
    <nz-input-number
      [nzMin]="5"
      [nzMax]="20"
      [nzStep]="0.5"
      [(ngModel)]="nodeWidth">
    </nz-input-number>  
  </div>

  <label nz-checkbox [(ngModel)]="randomColors">
    Random Colors
  </label>

  <h3>Node Labels</h3>
  <hr />
  <label nz-checkbox [(ngModel)]="showNodeLabels">
    Show Labels
  </label>
</div>
